/* ------------ ------------ ------------ ------------ */
/* --GENERAL-- ------------ */
* {box-sizing: border-box; margin: 0; padding: 0; border: 0;}
html {scroll-behavior: smooth; font-size: 62.5%;}
img {display: block;}
body p {color: var(--clContent);}
a,a:hover {color: inherit; text-decoration: none;}
button {background-color: transparent;}
::selection {background: var(--clwmTitle); color: var(--clwmBackground); text-shadow: none;}

.textVertical p {writing-mode: vertical-rl;}


/* ------------ ------------ ------------ ------------ */
/* --SCROLLBAR-- ------------ */
body::-webkit-scrollbar {display: none;}
body {-ms-overflow-style: none; scrollbar-width: none;}


/* ------------ ------------ ------------ ------------ */
/* --FONTS-- ------------ */
@font-face {
    font-family: Philosopher, sans-serif;
    font-display: swap;
    src: url(../font/philosopher/Philosopher-Regular.ttf);
  }
@font-face {
    font-family: Mulish, sans-serif;
    font-display: swap;
    src: url(../font/mulish/Mulish-Light.ttf);
  }


/* ------------ ------------ ------------ ------------ */
/* --TYPOGRAPHY-- ------------ */
h1,h2,h3,h4 {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    color: var(--clwmTitle);
    margin: 0;
  }
h1 {font-size: 20rem;}
h2 {font-size: 6.4rem;}
h3 {font-size: 3.2rem;}
h4 {font-size: 2.0rem;}
body {font-family: 'Mulish', sans-serif; font-size: 1.6rem;}


/* ------------ ------------ ------------ ------------ */
/* --COLOR STYLES-- ------------ */
:root {
  --clContent: #919191;
  --clwmBackground: #FFFFFF;
  --clwmWatermark: #FAFAFA;
  --clwmTitle: #242424;
  --clwmHideState: #D8D8D8;
}


/* ------------ ------------ ------------ ------------ */
/* --WATERMARK-- ------ */
.watermark {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#watermark {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: var(--clwmWatermark);
  animation: fromRight 1200ms ease-out 0ms;
}
@keyframes fromRight {
  from {
    opacity: 0;
    transform: translate(-40%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


/* ------------ ------------ ------------ ------------ */
/* --HEADER & FOOTER-- ------ */
.menuFixed {position: absolute; margin: 4rem;}
#menuTopRight, #menuBottomRight {right: 0; padding-left: 2rem;}
#menuBottomRight, #menuBottomLeft {bottom: 0;}

.menuFixed .decorBullet {
  position: absolute;
  width: 0.4rem;
  height: 100%;
  opacity: 0;
  background-color: var(--clwmTitle);
  transition: all 200ms ease-out;
}
.menuFixed h4 {padding: 0.5rem; transition: all 200ms ease-out;}
#menuTopLeft .decorBullet, #menuBottomLeft .decorBullet {left: 0;}
#menuTopRight .decorBullet, #menuBottomRight .decorBullet {right: 0;}

#menuTopLeft:hover .decorBullet, 
#menuBottomLeft:hover .decorBullet {opacity: 1; left: -1rem;}
#menuTopRight:hover .decorBullet, 
#menuBottomRight:hover .decorBullet {opacity: 1; right: -1rem;}
.menuFixed:hover h4 {
  color: var(--clwmBackground);
  background-color: var(--clwmTitle);
}

#menuTopLeft {animation: toTopLeft 1200ms ease-out 0ms;}
@keyframes toTopLeft {
  from {
    opacity: 0;
    top: 2rem;
    left: 4rem;
  }
  to {
    opacity: 1;
    top: 0;
    left: 0;
  }
}
#menuBottomLeft {animation: toBottomLeft 1200ms ease-out 0ms;}
@keyframes toBottomLeft {
  from {
    opacity: 0;
    bottom: 2rem;
    left: 4rem;
  }
  to {
    opacity: 1;
    bottom: 0;
    left: 0;
  }
}

#menuTopRight {animation: toTopRight 1200ms ease-out 0ms;}
@keyframes toTopRight {
  from {
    opacity: 0;
    top: 2rem;
    right: 4rem;
  }
  to {
    opacity: 1;
    top: 0;
    right: 0;
  }
}
#menuBottomRight {animation: toBottomRight 1200ms ease-out 0ms;}
@keyframes toBottomRight {
  from {
    opacity: 0;
    right: 4rem;
    bottom: 2rem;
  }
  to {
    opacity: 1;
    right: 0;
    bottom: 0;
  }
}


/* ------------ ------------ ------------ ------------ */
/* --NAVBAR (Responsive)-- ------ */
#logoTopLeft, #burgerTopRight {display: none;}
#burgerTopRight {right: 0;}
#logoTopLeft {animation: toLeft 1200ms ease-out 0ms;}
@keyframes toLeft {
  from {
    opacity: 0;
    left: 4rem;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
#burgerTopRight {animation: toRight 1200ms ease-out 0ms;}
@keyframes toRight {
  from {
    opacity: 0;
    right: 4rem;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  width: 24px;
  height: 18px;
  transition: all 400ms ease-out;
}
.line-1, .line-2, .line-3 {
  margin-left: auto;
  height: 1.5px;
  background-color: var(--clwmTitle);
  transition: all 240ms ease-out;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.line-1 {width: 100%; transform-origin: 0% 50%;}
.line-2 {width: 40%; transform-origin: 100% 50%;}
.line-3 {width: 80%; transform-origin: 0% 50%;}

.burgerMenu.toggle .line-1 {
  transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1)
  rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}
.burgerMenu.toggle .line-2 {
  transform: translate3d(10px, 0px, 0px) scale3d(0, 1, 1)
  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.burgerMenu.toggle .line-3 {
  transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1)
  rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
}
.burgerMenu.toggle .line-1,
.burgerMenu.toggle .line-2,
.burgerMenu.toggle .line-3 {
  width: 100%;
  transform-style: preserve-3d;
}


/* ------------ ------------ ------------ ------------ */
/* --Modal-- ------------ */
.modal{
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 0;
  opacity: 0.6;
  transition: all 600ms ease-out;
  z-index: 49;
} 
.modal.toggle {
  top: 0;
  height: 100vh;
  opacity: 1;
  background-color: #F8F8F8;
}
.burgerFill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.burgerFill h3{ margin-bottom: 1rem;}


/* ------------ ------------ ------------ ------------ */
/* --SIDEMENU-- ------ */
.sideMenu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sideMenu p {padding: 1rem 0;}
#sideMenuL p {transform: rotate(180deg);}

#sideMenuL{
  left: 4rem;
  animation: swipeRight 1200ms ease-out 0ms;
}
@keyframes swipeRight {
  from {
    opacity: 0;
    left: 0;
  }
  to {
    opacity: 1;
    left: 4rem;
  }
}

#sideMenuR {
  right: 4rem;
  animation: swipeLeft 1200ms ease-out 0ms;
}
@keyframes swipeLeft {
  from {
    opacity: 0;
    right: 0;
  }
  to {
    opacity: 1;
    right: 4rem;
  }
}


/* ------------ ------------ ------------ ------------ */
/* --HOME-- ------ */
.container, section {height: 100vh;}
section {width: calc(100vw - 320px);}
.container {
  position: fixed;
  margin: auto;
  width: 100vw;
  z-index: 1;
}
section {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1320px;
  z-index: 2;
}
.navbar{
  position: fixed;
  margin: auto;
  width: 100vw;
  z-index: 50;
}


/* ------------ ------------ ------------ ------------ */
/* --BOX SHADOW-- ------ */
.boxShadow {
  box-shadow: -20px -20px 60px #FFFFFF99,
              20px 20px 60px #D1D1D199;
}


/* ------------ ------------ ------------ ------------ */
/* --DECOR-- ------ */
.decorDot {
  display: grid;
  grid-gap: 2.4rem;
}
.dot {
  border-radius: 100%;
  background-color: var(--clContent);
}
.round { 
  border-radius: 100%;
  border: solid 1px var(--clContent);
}


/* ------------ ------------ ------------ ------------ */
/* --SECTION 1-- ------ */
.sectionHero {
  position: absolute;
  top: 50%;
  left: calc(50% + 1.2rem);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}
/* ------------ ------------ ------------ ------------ */
.imageHero {position: relative;}
.imageHero img {
  position: relative;
  z-index: 3;
  animation: flyUp 1200ms ease-out 0ms;
}
@keyframes flyUp {
  from {
    top: 4.8rem;
  }
  to {
    top: 0;
  }
}
.imageHero img.ui-droppable-over{
  right: inherit;
  bottom: inherit;
}
.imageHero h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-68%) rotate(180deg);
  writing-mode: vertical-rl;
  color: var(--clContent);
  animation: flyDown 1200ms ease-out 0ms;
}
@keyframes flyDown {
  from {
    opacity: 0;
    bottom: 8rem;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
.imageHero .decorDot {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -15%);
  grid-template-columns: repeat(6, 0.6rem);
  grid-template-rows: repeat(12, 0.6rem);
  z-index: 4;
}
.imageHero .decorDot .dot {background-color: var(--clwmWatermark);}
.imageHero .decorDot .round {border-color: var(--clwmWatermark);}
#mahHeart{
  position: absolute;
  top: 55%;
  left: 45%;
  z-index: 1;
}

/* ------------ ------------ ------------ ------------ */
.contentHero {
  margin: auto 0 0 6rem;
  position: relative;
}
.contentHero div:first-child {
  position: relative;
  bottom: 0;
  animation: moveUp 1200ms ease-out 0ms;
}
@keyframes moveUp {
  from {
    opacity: 0;
    bottom: -6rem;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}
.contentHero .textVertical {
  position: relative;
  margin-top: 2rem;
}
.contentHero h2, .contentHero .textVertical {margin-left: -0.4rem;}
.contentHero .line {
  position: absolute;
  top: calc(100% + 1rem);
  width: 0.1rem;
  background-color: var(--clContent);
  animation: moveDown 1200ms linear 0ms;
}
@keyframes moveDown {
  from {
    opacity: 0;
    top: calc(100% - 4rem);
  }
  to {
    opacity: 1;
    top: calc(100% + 1rem);
  }
}


/* ------------ ------------ ------------ ------------ */
/* --SECTION 2-- ------ */
.sectionAbout {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 35% 50%;
  grid-gap: 0;
}
.sectionAbout h2 { grid-area: 1 / 1 / 1 / 1; }
#galleryItem1 { grid-area: 2 / 1 / span 2 / 1; }
#galleryItem2 { grid-area: 1 / 2 / span 2 / span 2; }
#galleryItem3 { grid-area: 3 / 2 / 3 / 2; }
#galleryItem4 { grid-area: 3 / 3 / 3 / 3; }
#galleryItem5 { grid-area: 1 / 4 / span 3 / 4; }

/* ------------ ------------ ------------ ------------ */
.frontContent, .backContent, .galleryItem, .galleryItem img {
  width: 100%;
  height: 100%;   
}
.galleryItem {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .galleryItem {
  transform: rotateY(180deg);
}
.frontContent, .backContent{
  position: absolute;   
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.frontContent img {
  padding: 0.4rem;
  object-fit: cover;
  object-position: center;
}
.backContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  transform: rotateY(180deg);
}

/* ------------ ------------ ------------ ------------ */
/* --SECTION 3-- ------ */
.sectionProject {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.sectionProject h2 {
  margin: 0 0 4rem auto;
  text-align: right;
  opacity: 1;
}

.projectMenu {
  position: relative;
  padding-bottom: 4rem;
}
.projectMenu h3 {
  position: relative;
  left: 8rem;
  transition: all 400ms ease-out;
}
.projectMenu:hover h3 {transform: translateX(4rem);}
.projectMenu .line {
  width: 100%;
  height: 0.1rem;
  margin: 0.5rem 0 2rem 0;
  background-color: var(--clwmHideState);
}
#projectMenu1.hide h3, #projectMenu2.hide h3,
#projectMenu3.hide h3 {color: var(--clwmHideState);}


.sectionProject .decorDot {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(20%);
  grid-template-columns: repeat(12, 0.6rem);
  grid-template-rows: repeat(2, 0.6rem);
  z-index: 3;
}


/* ------------ ------------ ------------ ------------ */
/* --SECTION 4-- ------ */
.sectionContact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.sectionContact .decorDot {
  grid-template-columns: repeat(6, 0.6rem);
  grid-template-rows: repeat(12, 0.6rem);
  z-index: 4;
}

.contentContact {
  margin-left: 6rem;
  display: grid;
  row-gap: 4rem;
}
.contentContact p {
  position: relative;
  left: 0;
  transition: all 400ms ease-out;
}
.contentContact a {transition: all 400ms ease-out;}
.socialMenu {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 4rem;
}
#contactMenu1.hide a, #contactMenu2.hide a,
#contactMenu3.hide a, #contactMenu4.hide a {color: var(--clwmHideState);}


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1660px) {
  section {max-width: 1140px;}
}
@media (max-width: 1200px) {
  section {max-width: 960px;}
}
@media (max-width: 992px) {
  section {max-width: 720px;}
}
@media (max-width: 768px) {
  section {max-width: 540px;}
}
@media (max-width: 579px) {
  /* --GENERAL-- ------------ */
  section {width: calc(100vw - 60px);}
  img {width: 50vw;}
  h1 {font-size: 10rem;}
  h2 {font-size: 2.0rem;}
  h3 {font-size: 1.6rem;}
  h4 {font-size: 1.6rem;}
  body {font-size: 1.4rem;}

  /* --HEADER & FOOTER-- ------ */
  .menuFixed {margin: 1.2rem;}
  #menuTopLeft, #menuTopRight, #menuBottomRight, #menuBottomLeft {display: none;}
  #sideMenuL, #sideMenuR {display: none;}
  
  /* --NAVBAR (Responsive)-- ------ */
  #logoTopLeft, #burgerTopRight {display: flex;}

  /* --SECTION 1-- ------ */
  .decorDot {grid-gap: 1.2rem;}
  .imageHero .decorDot {
    grid-template-columns: repeat(6, 0.2rem);
    grid-template-rows: repeat(12, 0.2rem);
  }
  .imageHero img:first-child {width: 50vw;}
  #mahHeart {top: 65%; left: 50%;}
  #mahHeart img {width: 8vw;}
  .contentHero {margin: auto 0 0 1rem;}

  /* --SECTION 2-- ------ */
  .sectionAbout h2 {margin-right: 2rem;}
  .sectionAbout {
    display: flex;
    flex-flow: row nowrap;
    overflow-y: hidden;
  }
  .flip-box{
    flex-shrink: 0;
    width: 95%;
  }
  .frontContent img {
    padding: 0 2rem 0 0;
  }

  /* --SECTION 3-- ------ */
  .projectMenu {padding-bottom: 2.4rem;}
  .projectMenu h3 {left: 2rem;}
  .projectMenu .line {margin: 0.5rem 0 1rem 0;}
  .sectionProject .decorDot {
    grid-template-columns: repeat(12, 0.2rem);
    grid-template-rows: repeat(2, 0.2rem);
  }

  /* --SECTION 4-- ------ */
  .sectionContact .decorDot {
    grid-template-columns: repeat(6, 0.2rem);
    grid-template-rows: repeat(12, 0.2rem);
  }
  .contentContact {
    margin-left: 1rem;
    row-gap: 1rem;
  }
  .socialMenu {column-gap: 2rem;}
}