.container
    {
        height: 100vh;
    }

/* Home Header */
.navbar
    {
        margin-top: 1.2rem;
    }
.navbar-toggler-icon
    {
        font-size: 2.8rem;
    }
.navbar-nav
    {
        margin-left: auto;
    }
.nav-link
    {
        border: 1px solid #d2d2d2;
        border-radius: 10rem;
    }
.line-1
    {
        width: calc(100% - 40rem);
        height: 1.2px; /* Không đổi */
        background-color: #d2d2d2;
    }

/* Home Content */
.content
    {
        margin: auto 0;
        align-items: center;
        justify-content: space-between;
    }
.content-text
    {
        max-width: 40rem;
        padding: 4.6rem 2.6rem 4.8rem 2.8rem;
        border-radius: 10px;
        background-color: #f6f6f6;

        /* Copy CSS từ .bxsd-convex */
        border-color: transparent;
        box-shadow:  2px 2px 8px #d2d2d280,
                    -2px -2px 8px #ffffff;
    }
.content-picture >img
    {
        margin: auto;
    }
.content-img
    {
        max-width: 54rem;
        display: block;
        transform: translateX(7%);
    }
.content-img-res
    {
        display: none;
    }
.btn-link-portfolio
    {
        border: 1px solid transparent;
        border-radius: 10rem;
        padding: 0.8rem 1.4rem;
        font-size: 1.6rem;
        color:#f6f6f6;
    }
.btn-link-contact
    {
        border: 1px solid #d2d2d2;
        border-radius: 10rem;
        padding: 0.8rem 1.4rem;
        font-size: 1.6rem;
        color:#b4b4b4;
    }

/* Home Footer */
.dot-wrap
    {
        margin-right: auto;
    }
.deco-dot
    {
        width: 0.68rem;
        height: 0.68rem;
        border-radius: 50%;
        background-attachment: fixed; /* Code này để giúp Gradient trải đều trên các hình tròn */
    }
.time
    {
        padding: 0.2rem 0.4rem 0.2rem 0.6rem;
        border: 1px solid #d2d2d2;
        border-radius: 10rem;

        /* Copy CSS từ .bxsd-convex */
        border: 1px solid #d2d2d2;
        box-shadow:  4px 4px 4px #d2d2d260,
                    0px 0px 8px #ffffff;
    }
.line-2
    {
        width: 100%;
        height: 1.2px; /* Không đổi */
        background-color: #d2d2d2;
    }
.lineHeight /* Sửa riêng nút chuyển Theme */
    {
        line-height: 1.4rem;
    }
.custom-control-input:checked~.custom-control-label::before /* ---Sửa chiều cao nút toggle--- */
    {
        border: 1px solid #f6f6f6;
        background-color: #646464;
    }



/* --------------------------------RESPONSIVE start-------------------------------- */
@media (min-width: 1200px)
    {
        .container
        {
            max-width: 1100px;
        }
    }

@media (max-width: 1200px)
    {
        body
            {
                /* Copy CSS từ .theme-bg */
                background: linear-gradient(135deg, #843ACC 0%, #9E3BBE 40%, #C63AA6 80%), #f6f6f6;
                background-repeat: no-repeat; 
                background-position: center;
                background-size: 100% 80%, 100%;
            }
        
        /* Home Content */
        .content
            {
                flex-direction: column;
                text-align: center;
            }
        .content-text
            {
                padding-top: 0;
                background-color: transparent;
                box-shadow: none;
            }
        .content-text .theme-tx
            {
                background:#f6f6f6;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        .content-img
            {
                display: none;
            }
        .content-img-res
            {
                display: flex;
                width: 100%;
            }
        .content .theme-bg
            {
                background:#f6f6f6;
                color: #9E3BBE;
                font-weight: 600;
            }
        .content .bxsd-concave
            {
                border: 1px solid #f6f6f6;
                color: #f6f6f6;
            }
    }

@media (max-width: 768px)
    {
        body
            {
                font-size: 1.2rem;
            }

        /* Home Header */
        .navbar-nav
            {
                width: 28rem;
                margin-left: 0;
                padding:2rem 2rem 2rem 0;
                background-color:#f6f6f6;
                color: #d4d4d4;
            }
        .navbar-nav .theme-bg, .navbar-nav .bxsd-concave, .navbar-nav .bxsd-convex
            {
                border: none;
                box-shadow: none;
            }
        .nav-link
            {
                color: #d4d4d4;
            }
        .line-1
            {
                display: none;
            }

        /* Home Content */
        .content
            {
                padding-bottom: 6rem;
            }

        /* Home Footer */
        .footer-deco
            {
                display: flex;
                align-items: center;
            }
        .dot-wrap
            {
                margin: auto;
            }
        .time
            {
                display: none;
            }
    }

@media (max-width: 576px)
    {
        /* Home Content */
        h2
            {
                font-size: 3.6rem;
                margin-bottom: 0.8rem;
            }
        .content-img-res
            {
                width: 80%;     
            }
        .btn-link-contact, .btn-link-portfolio
            {
                font-size: 1.4rem;
                padding: 0.4rem 0.8rem;
            }
    }

@media (max-width: 320px) /* Điện thoại cổ hoặc màn hẹp */
    {
        body
            {
                font-size: 1rem;
            }

        /* Home Header */
        .navbar-nav
            {
                width: 20rem;
            }
        .navbar-toggler-icon
            {
                font-size: 1.8rem;
            }

        /* Home Content */
        .content-text
            {
                padding: 0 0 2rem 0;
            }
        h2
            {
                font-size: 3rem;
            }
        .btn-link-contact, .btn-link-portfolio
            {
                font-size: 1.2rem;
                padding: 0.2rem 0.4rem;
            }
    }
/* --------------------------------RESPONSIVE end-------------------------------- */