/* ------------ ------------ ------------ ------------ */
/* --Header-- ------------ */
.navbar
  {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8rem;
  }
.navItem
  {
    display: inline;
    margin-left: 4rem;
    color: #D2D2D2;
  }
.navItem:hover, .navItem.active
  {
    color: #121212;
  }


/* ------------ ------------ ------------ ------------ */
/* --Main-- ------------ */
.homePage
  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    margin-top: 2rem;
  }
.homePicture
  {
    position: relative;
  }
.homePicture img
  {
    z-index: 0;
    width: 552px;
  }
.homePicture .typo
  {
    z-index: 1;
    position: absolute;
    left: 24px;
    bottom: 56px;
  }
.homePicture .typo p
  {
    margin-top: 36px;
    color: #FFF;
  }

.homeContent
  {
    text-align: right;
  }
.homeContent .title
  {
    margin-top: 1.2rem;
  }
.homeContent a
  {
    display: block;
    color: #D2D2D2;
  }
.homeContent a:hover
  {
    color: #121212;
  }
.homeContent a .arrow
  {
    display: none;
  }
.homeContent a:hover .arrow
  {
    display: inline;
  }
#welcome1
  {
    display: none;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1152px)
  {
    .navbarItem
      {
        display: none;
      }

    .homePage
      {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
      }

    .homePicture img
      {
        width: 480px;
      }
    .homePicture .typo
      {
        bottom: 48px;
      }
    .homePicture .typo p
      {
        margin-top: 32px;
      }

    .homeContent
      {
        margin-top: 24px;
        text-align: center;
      }
  }

@media (max-width: 764px)
  {
    .navbar
      {
        height: 5rem;
      }

    .homePage
      {
        margin-top: 0;
      }

    .homePicture img
      {
        width: 100%;
      }
    .homePicture .typo
      {
        top: 240px;
        bottom: unset;
        text-align: center;
      }
    .homePicture .typo p
      {
        margin-top: 24px;
      }
    #hello
      {
        display: none;
      }
    #dungbu
      {
        color: #121212;
      }

    .homeContent
      {
        margin-top: 60px;
      }
    #welcome1
      {
        display: block;
      }
    #welcome2
      {
        display: none;
      }
  }