/* ------------ ------------ ------------ ------------ */
/* --Header-- ------------ */
.navbar
  {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
  }
.navItem
  {
    display: inline;
    margin-left: 4rem;
    color: #D2D2D2;
  }
.navItem:hover, .navItem.active
  {
    color: #121212;
  }
.burgerMenu
  {
    display: none;
  }


/* ------------ ------------ ------------ ------------ */
/* --Main-- ------------ */
.homePage
  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
  }

.homePicture
  {
    position: relative;
  }
.homePicture img
  {
    width: 552px;
  }
.homePicture .typography
  {
    z-index: 1;
    position: absolute;
    left: 24px;
    bottom: 56px;
  }
.homePicture .typo
  {
    margin-top: 36px;
    color: #FFF;
  }

.homeContent
  {
    text-align: right;
  }
#welcome1
  {
    display: none;
  }
#welcome2
  {
    margin-top: 1.2rem;
  }
.homeContent a
  {
    display: block;
    color: #D2D2D2;
  }
.homeContent a:hover
  {
    color: #121212;
  }
.homeContent .arrow
  {
    display: none;
  }
.homeContent a:hover .arrow
  {
    display: inline;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1152px)
  {
    .navMenu
      {
        display: none;
      }
    .burgerMenu
      {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-pack: justify;
        width: 32px;
        height: 24px;
        transition: all 400ms ease-out;
      }
    .line-1, .line-2, .line-3
      {
        margin-left: auto;
        height: 2px;
        background-color: #121212;
        transition: all 240ms ease-out;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
        rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
      }
    .line-1
      {
        width: 100%;
        transform-origin: 0% 50%;
      }
    .line-2
      {
        width: 40%;
        transform-origin: 100% 50%;
      }
    .line-3
      {
        width: 80%;
        transform-origin: 0% 50%;
      }
    
    .burgerMenu.toggle .line-1
      {
        transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1)
        rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
      }
    .burgerMenu.toggle .line-2
      {
        transform: translate3d(10px, 0px, 0px) scale3d(0, 1, 1)
        rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
    .burgerMenu.toggle .line-3
      {
        transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1)
        rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
      }
    .burgerMenu.toggle .line-1,
    .burgerMenu.toggle .line-2,
    .burgerMenu.toggle .line-3
      {
        width: 100%;
        transform-style: preserve-3d;
      }

    .homePage
      {
        margin-top: 0;
      }

    .homePicture img
      {
        width: 480px;
      }
    .homePicture .typography
      {
        bottom: 48px;
      }
    .homePicture .typo
      {
        margin-top: 32px;
      }

    #welcome2
      {
        margin-top: 0;
      }
  }

@media (max-width: 764px)
  {
    .navbar
      {
        height: 5rem;
      }
    .burgerMenu
      {
        width: 24px;
        height: 18px;
      }

    .homePage
      {
        flex-direction: column;
        align-items: center;
      }

    .homePicture img
      {
        width: 100%;
      }
    .homePicture .typography
      {
        top: 271px;
        bottom: unset;
        text-align: center;
      }
    .homePicture .typo
      {
        margin: 0;
      }
    #typo1
      {
        display: none;
      }
    #typo3
      {
        margin-top: 10.5px;
        color: #121212;
      }

    .homeContent
      {
        margin-top: 68px;
        text-align: center;
      }
    #welcome1
      {
        display: block;
      }
    #welcome2
      {
        display: none;
      }
    #homeContent2, #homeContent3
      {
        display: none;
      }
  }