/* ------------ ------------ ------------ ------------ */
/* --Main-- ------------ */
#pic1, #pic2, #pic3, #pic4,
#titleAboutMe, #textAboutMe,
#titleExperience, #textExperience,
#titleEducation, #textEducation,
#resume
  {
    display: flex;
    flex-direction: column;
  }
#pic1, #pic2, #pic3, #pic4
  {
    margin-top: 120px;
    margin-left: auto;
  }
#titleAboutMe, #titleEducation, #titleExperience
  {
    margin-top: 80px;
  }
#titleAboutMe
  {
    margin-bottom: 80px;
  }
#textAboutMe, #textEducation, #textExperience
  {
    margin-top: 40px;
  }
ul
  {
    margin-left: 20px;
    width: 680px;
  }
#resume
  {
    margin: auto;
    margin-top: 120px;
    text-align: center;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1152px)
  {
    #pic1, #pic2, #pic3, #pic4
      {
        margin-top: 80px;
      }
    #titleAboutMe, #titleEducation, #titleExperience
      {
        margin-top: 60px;
      }
    #titleAboutMe
      {
        margin-bottom: 40px;
      }
    #textAboutMe, #textEducation, #textExperience
      {
        margin-top: 20px;
      }
    ul
      {
        width: 620px;
      }
    #resume
      {
        margin-top: 80px;
      }
  }

@media (max-width: 764px)
  {
    #pic1, #pic2, #pic3, #pic4,
    #titleAboutMe, #titleEducation, #titleExperience,
    #textAboutMe, #textEducation, #textExperience, ul
      {
        width: 100%;
        margin: auto;
      }

    #pic1, #pic2, #pic3, #pic4
      {
        margin: auto;
        margin-top: 40px;
      }
    #titleAboutMe, #titleEducation, #titleExperience
      {
        margin-top: 20px;
      }
    #titleAboutMe
      {
        margin-bottom: 20px;
      }
    #textAboutMe, #textEducation, #textExperience
      {
        margin-top: 10px;
      }
    ul
      {
        margin-left: 20px;
        width: calc(100% - 20px);
      }
    #resume
      {
        margin-top: 40px;
      }
  }