/* ------------ ------------ ------------ ------------ */
/* --GENERAL-- ------------ */
img
  {
    width: 100%;
  }


/* ------------ ------------ ------------ ------------ */
/* --Main-- ------------ */
.mt-4
  {
    margin-top: 4rem;
  }
.container
  {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 2rem;
  }
.blogItem
  {
    margin-right: 40px;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1152px)
  {
    .mt-4
      {
        margin-top: 2rem;
      }
    .blogItem
      {
        width: 300px;
      }
  }

@media (max-width: 764px)
  {
    .mt-4
      {
        margin-top: 1.2rem;
      }
    .blogItem
      {
        width: 100%;
      }
  }