/* --Landing Page-- ------ */
.landing-page
  {
    width: 100%;
    height: 100vh;
    padding-left: 10rem;
    background-image: url(../Images/Profile/ProfileBackground.png);
    background-color: #FAFAFA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.landing-page-bg
  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.landing-page-content
  {
    margin-top: 24rem;
    display: flex;
    flex-direction: column;
  }


/* --Background 1-- ------ */
.bg1 
  {
    padding-left: 10rem;
    background-image: url(../Images/Home/BG1.png);
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* --Profile-- ------ */
    .profile-menu
      {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    .profile-img
      {
        margin-right: 20px;
        max-width: 44rem;
        object-fit: cover;
        overflow: hidden;
      }
    .profile-img img
      {
        height: 100%;
      }
    .profile-content
      {
        width: 53.2rem;
      }
    .profile-credit-info
      {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    

/* --Quote-- ------ */
.quote
  {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: calc(50% + 5rem);
    transform: translate(-50%, -50%);
    width: calc(100% - 10rem);
    text-align: center;
    color: #FFFFFF;
  }

  
/* --Background 2-- ------ */
.bg2
  {
    padding-left: 10rem;
    background-image: url(../Images/Home/BG2.png);
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* --Profile-- ------ */

    /* --Contact-- ------ */


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */ 
@media (max-width: 1200px)
  {
    /* --Profile-- ------ */
    .profile-content
      {
        width: 48rem;
      }
  }

@media (max-width: 992px)
  {
    /* --Landing Page-- ------ */
    .credit-item1
      {
        display: none;
      }

    /* --Profile-- ------ */
    .profile-credit-info
      {
        flex-direction: column;
      }
  }

@media (max-width: 768px)
  {
    /* --Landing Page-- ------ */
    .landing-page, .bg1, .bg2
      {
        padding-left: 0;
      }
    .landing-page
      {
        background-image: none;
      }

    /* --Quote-- ------ */
    .quote
      {
        left: 50%;
        width: 100%;
      }

    /* --Profile-- ------ */
    .profile-menu
      {
        flex-direction: column;
        align-items: center;
      }
    .profile-menu .responsiveStyle
      {
        text-align: center;
      }
    .profile-content
      {
        margin-top: 4rem;
      }
    .profile-credit-info
      {
        flex-direction: row;
      }
  }

@media (max-width: 576px)
  {
    /* --Landing Page-- ------ */
    .credit-info
      {
        flex-direction: column;
      }

    /* --Quote-- ------ */
    .quote span
      {
        font-size: 1.2rem;
        line-height: 2rem;
      }

    /* --Profile-- ------ */
    .profile-img, .profile-content
      {
        width: 100%;
      }
    .profile-img img
      {
        height: unset;
      }
    .profile-credit-info
      {
        flex-direction: column;
      }
  }

@media (max-width: 320px)
  {
    /* --Quote-- ------ */
    .quote span
      {
        font-size: 1rem;
        font-stretch: ultra-condensed;
        line-height: 2rem;
      }
  }