/* ------------ ------------ ------------ ------------ */
/* --Main-- ------------ */
.projectPage
  {
    margin-top: 12rem;
  }
.projectMenu
  {
    display: flex;
    justify-content: center;
  }
#menu1, #menu2
  {
    margin: 0 2rem;
    color: #D2D2D2;
  }
#menu1:hover, #menu2:hover,
#menu1.active, #menu2.active
  {
    cursor: url('../img/logo/pointerHover.png'),auto;
    color: #121212;
  }
hr
  {
    margin: 1rem  0 2rem 0;
    height: 1px;
    background-color: #D2D2D2;
  }

#webProject, #pptProject
  {
    display: none;
  }
#webProject.active, #pptProject.active
  {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 24px;
    margin-bottom: 10rem;
  }

#webProject img, #pptProject img
  {
    width: 360px;
  }

.projectItem
  {
    position: relative;
    height: 202.5px; /* Fix theo chiều cao của ảnh */
  }
.projectInfo
  {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0;
    transition: all 400ms ease;
  }
.projectInfo p
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
.projectItem:hover .projectInfo
  {
    opacity: 1;
    border: 1px solid #D2D2D2;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */
@media (max-width: 1152px)
  {
    #webProject.active, #pptProject.active
      {
        grid-template-columns: auto auto;
      }
    #webProject img, #pptProject img
      {
        width: 354px;
      }

    .projectItem
      {
        height: 199.13px; /* Fix theo chiều cao của ảnh */
      }
  }

@media (max-width: 764px)
  {
    #menu1, #menu2
      {
        margin: 0 0.8rem;
      }

    #webProject.active, #pptProject.active
      {
        grid-template-columns: auto;
        grid-gap: 16px;
      }
    #webProject img, #pptProject img
      {
        width: 100%;
      }

    .projectItem
      { 
        height: 162px; /* Fix theo chiều cao của ảnh */
      }
  }