/* ------------ ------------ ------------ ------------ */
/* --FONTS-- ------------ */
@font-face
  {
    font-family: Philosopher;
    src: url(../fonts/Philosopher/Philosopher-Regular.ttf);
    font-weight: 400;
  }


/* ------------ ------------ ------------ ------------ */
/* --Landing Page-- ------ */
.landing-page
  {
    width: 100%;
    padding-left: 10rem;
  }
.landing-page img
  {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
  }


/* ------------ ------------ ------------ ------------ */
/* --Background-- ------ */
.bg
  {
    background-image: url(../Images/ProjectPPT01/BG.png);
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


/* ------------ ------------ ------------ ------------ */
/* --Credit Infomation-- ------ */
.credit-info
  {
    display: flex;
    flex-direction: row;
  }
.credit-item
  {
    margin-right: 8rem;
    display: flex;
    flex-direction: column;
  }


/* ------------ ------------ ------------ ------------ */
/* --Project Infomation-- ------ */
.about-this-project
  {
    width: 71.6rem;
  }


/* ------------ ------------ ------------ ------------ */
/* --Gallery-- ------ */
.slider1-item:focus, .slider2-item:focus
  {
    outline: none;
  }
.slider1-item img
  {
    width: 100%;
  }
.slider2-item img
  {
    width: 92%;
  }


/* ------------ ------------ ------------ ------------ */
/* --Color Pallete-- ------ */
.grid-container
  {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto auto auto;
  }
.grid-item
  {
    height: 31.6rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 4px 6px 12px 4px rgba(0, 0, 0, 0.06);
    background-color: #FFFFFF;
  }
.item-color
  {
    height: 20rem;
    border-radius: 8px 8px 0 0;
  }
.primary-color
  {
    background-color: #EE6D0C;
  }
.secondary-color
  {
    background-color: #F6D85E;
  }
.ink-color
  {
    background-color: #585858;
  }
.item-title
  {
    margin-left: 7.2rem;
    display: flex;
    flex-direction: column;
  }


/* ------------ ------------ ------------ ------------ */
/* --Heading-- ------ */
.responsiveStyle2
  {
    display: none;
  }


/* ------------ ------------ ------------ ------------ */
/* --Paragraph-- ------ */
.project-paragraph
  {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;

    width: 71.6rem;
  }


/* ------------ ------------ ------------ ------------ */
/* --RESPONSIVE-- ------ */ 
@media (max-width: 1200px)
  {
    /* --Landing Page-- ------ */
    .landing-page img
      {
        height: 100%;
      }
  }

@media (max-width: 992px)
  {
    /* --Project Infomation-- ------ */
    .about-this-project
      {
        width: 100%;
      }
    
    /* --Color Pallete-- ------ */
    .item-title
      {
        margin-left: 4rem;
      }

    /* --Heading-- ------ */
    .responsiveStyle1
      {
        display: none;
      }
    .responsiveStyle2
      {
        display: inline;
      }

    /* --Paragraph-- ------ */
    .project-paragraph
      {
        width: 100%;
      }
  }

@media (max-width: 768px)
  {
    /* --Landing Page-- ------ */
    .landing-page, .bg
      {
        padding-left: 0;
      }

    /* --Credit Infomation-- ------ */
    .credit-item
      {
        margin-right: 4rem;
      }

    /* --Color Pallete-- ------ */
    .grid-item
      {
        height: 18rem;
      }
    .item-color
      {
        height: 10rem;
      }
    .item-title
      {
        margin-left: 2rem;
      }
  }

@media (max-width: 576px)
  {
    /* --Credit Infomation-- ------ */
    .credit-info
      {
        display: flex;
        justify-content: center;
      }
    .credit-item
      {
        margin: 0 1rem;
        text-align: center;
      }

    /* --Color Pallete-- ------ */
    .grid-container
      {
        grid-gap: 1rem;
      }
    .grid-item
      {
        height: 12rem;
      }
    .item-color
      {
        height: 6rem;
      }
    .item-title
      {
        margin-left: 1.2rem;
      }
  }

@media (max-width: 320px)
  {
    /* --Color Pallete-- ------ */
    .grid-container
      {
        grid-gap: 0.4rem;
      }
  }